{% extends "base.html" %}

{% block main_title %}

{{user.username}} || your cart page
  
{% endblock main_title %}


{% block main_body %}
<style>
    body {
    background-color: #eee
}

.height-100 {
    height: 100vh
}



.dots {
    height: 20px;
    width: 20px;
    margin-top: 4px;
    margin-left: 4px;
    background-color: #dc3545;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px
}

.list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    border-top: 1px solid #eee;
    cursor: pointer
}

.list li:hover {
    background-color: #dc3545;
    color: #fff
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid  ">
      <a class="navbar-brand" href="#">food shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">user register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">user login</a>
          </li>

          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="item_register">Post item</a>
          </li> -->
          
          
           <li class="nav-item ">
            <a class="nav-link" href="/logouthere">log-out</a>
          </li>
        </ul>
      </div>
      <!-- <button type="button" class="btn btn-warning "> Your Cart</button> -->
      {% endif %}

    </div>

</nav>









<div class="card-header text-center">
 all your cart
</div>


<ul class="list-group list-group justify-content-around">

    {% for i in allcart %}

    
    <li class="list-group-item d-flex justify-content-around align-items-start">
      <div class="ms-2 me-auto col">
        <div class="fw-bold row">Item Id #{{i.id}} 
            <div class="fw-bold row">Item #{{i.iteam_name}} </div>
            <div class="fw-bold row">Item #{{i.about}} </div>
        </div>

        <div class="float-end col">
            <a class="btn btn-danger" href="/shop/deletecart/{{i.id}}" >delete</a>
            <a class="btn btn-success" href="/order/{{i.id}}">order </a>
          </div>
        
      </div>
      <span class="badge bg-primary rounded-pill"> &#x20B9;{{i.iteam_price}}</span>
    </li>
    {% endfor %}

</ul>






<!-- <div class="list-group">
    {% for i in allcart %}
     <div class="list-group-item ">
            <div class="d-flex w-100 justify-content-around ">
                    <h5 class="mb-1"> {{i.id}}</h5>
                    <small>3 days ago {{i.iteam_name}}</small>
            </div>
            <div class="d-flex w-100 justify-content-around ">

                    <p class="mb-1">{{i.about}}</p>
                    <small>{{i.item_price}}</small>

                    <div class="float-end">
                        <a class="btn btn-warning" href="/shop/addcart/{{i.id}}" >cart</a>
                        <button type="button" class="btn btn-success ">buy</button>
                      </div>
            </div>
    </div>



    
      

    {% endfor %}
</div> -->



<!-- <div class="owl-carousel owl-theme"> -->
  <!-- <div class="item"><img src="https://www.w3schools.com/css/img_fjords.jpg" alt=""></div> -->
  <!-- {% for i in allcart %}
    <div class="card border-dark mb-3 item" style="max-width: 18rem; margin: 20px; ;">
    {{i.shopiteam_id.iteam_name}}
    <div class="card-header"></div>
      <div class="card-body text-dark">
        <h5 class="card-title">{{i.iteam_name}}</h5>
        <p class="card-text">{{i.about}}</p>
        <p class="card-text">{{i.item_price}}</p>

        <div class="float-end">
          <a class="btn btn-warning" href="/shop/addcart/{{i.id}}" >cart</a>
          <button type="button" class="btn btn-success ">buy</button>
        </div>

      </div>
    </div>
    {% endfor %}
</div> -->



    
  
{% endblock main_body %}


{% block main_script %}

<script>
$('.owl-carousel').owlCarousel({
    rtl:true,
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
</script>
  
{% endblock main_script %}