
{% extends "base.html" %}

{% block main_title %}

shop register
  
{% endblock main_title %}


{% block main_body %}
<br>
<div class="container text-center">
<h1>welcome to shop register</h1>
<!-- {{user}} -->   
{% for message in messages %}
<span class="text-danger">{{message.tags}}{{message}}</span>
{% endfor %}
</div>
<form class="container" action="register" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">shop name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="shopname" name="shopname">
  </div>

  <div class="mb-3" style="heiht:10%; width: 20%;">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <img src=""  class="img-fluid" id="prev" alt="dp preview">

  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Shop image</label>
    <input type="file" class="form-control" id="exampleFormControlInput1" onchange="pre(event)"  placeholder="chooce image" name="images">
  </div>
  
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">shop holder name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="shop-holder-name" name="shopholdername">
  </div>

  <!-- <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">gender</label>
  <select class="form-select" aria-label="Default select example" name="gender">
    <option disabled selected>select gender</option>
    <option value="M">male</option>
    <option value="F">female</option>
    <!-- <option value="3">Three</option> -->
  </select>
  </div> -->


  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Shop email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Emain@example.com" name="shopemail">
  </div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">since</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="how old your shop" name="since">
  </div>


  
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">dilivery online or not</label>
  <select class="form-select" aria-label="Default select example" name="dilivery">
    <option disabled selected>select mode</option>
    <option value="True">Yes</option>
    <option value="False">no</option>
    <!-- <option value="3">Three</option> -->
  </select>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">about</label>
    <textarea type="tex" class="form-control" id="exampleFormControlInput1" placeholder="write about shop" name="about"></textarea>
  </div>
  
  
  <div class="">
    <!-- <button class="btn btn-primary" type="button">Button</button> -->
    <button class="btn btn-primary" type="submit">submit</button>
    <a   class="btn btn-link" href="/shop/profile">shop profile</a>
    <a   class="btn btn-link" href="/">Home</a>

  </div>    
</form>
<br>


{% block main_script %}

<script type='text/javascript'>
  function pre(event) 
  {
   var reader = new FileReader();
   reader.onload = function()
   {
    var output = document.getElementById('prev');
    output.src = reader.result;
   }
   reader.readAsDataURL(event.target.files[0]);
  }
  </script>

{% endblock main_script %}

  
{% endblock main_body %}